.iconBorder {
    border: 16px solid rgb(255 0 0 / 81%);
    border-radius: 50%;
    padding: 3%;
    width: 60px;
    margin: 6%;
    background-color: rgba(245, 245, 245, 0.76);
    display: flex;
}



