.result {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 145%;
}

.again {
    cursor: pointer;
    border-radius: 7px;
    padding: 5% 24%;
    color: #263238;
    font-size: 57%;
    font-weight: 500;
    background: whitesmoke;
    border: 2px solid #ffffff96;
    text-transform: uppercase;
}